### Weekly Agenda - 7 - Statistics

In [1]:
import scipy.stats as stats
import math as math

- 7. In how many ways, a group of 3 boys and 2 girls can be formed out of a total of 5 boys and 5 girls?

In [2]:
math.comb(5,3)*math.comb(5,2)

100

- 8.A woman has 6 blouses, 4 skirts, and 5 pairs of shoes. How many different outfits consisting of a blouse, a skirt, and a pair of shoes can she wear?

In [3]:
(6*4*5)

120

In [4]:
math.comb(6,1)*math.comb(4,1)*math.comb(5,1)

120

- 9. Serena Williams won the 2010 Wimbledon Ladiesâ€™ Singles Championship. For the seven matches she played in the tournament, her total number of first serves was 379, total number of good first serves was 256, and total number of double faults was 15. 

--a. Find the probability that her first serve is good.

--b. Find the conditional probability of double faulting, given that her first serve resulted in a fault.

--c. On what percentage of her service points does she double fault?

In [ ]:
P(F) = Probability of First Serve 
P(D) = Probability of Double Fault

In [12]:
#a.

#Good first serve/Total first serve :

round((256/379),2)

0.68

In [14]:
#b. 

#P(D) = ?

#P(D|F) = P(D) / (1- P(F))

round((15/379) / (1 - (256/379)),2)

0.12

In [19]:
#c.

print("%",(round((15/376),3)))

% 0.04