# Capstone Project

## EDA for Car Price Prediction Model

>In this project we are going to be cleaning and analyzing a file for a car price prediction model.

- Before start analyzing first let's import the libraries we might use for further steps.

In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

- - -

<img src="readme.png" style="height:1000px">

<br>

- Right after importing the libraries, I am going to read the json file that I am going to be working on.

<br>

In [25]:
df = pd.read_json("scout_car.json", lines=True)

<br>

- To get an idea of what the data looks like, let's have a look at that by getting some random samples.

<br>

In [26]:
df.sample(10)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
12183,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,"ST INNOVATION, AHK, Navi, LED, SHZ",Station wagon,21350,VAT deductible,"27,000 km",06/2018,1 previous owner,NaN,...,"[\n, Sonderausstattung:, Anhängerzugvorrichtun...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
12010,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,Sports Tourer INNOVATION,Station wagon,22900,VAT deductible,"20,450 km",01/2018,1 previous owner,NaN,...,"[\n, Ausstattung:, Ergonomiesitz vorn AGR-Sitz...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
13216,https://www.autoscout24.com//offers/renault-cl...,Renault Clio,TCe 120 Energy EDC Intens,Sedans,14900,None,"36,500 km",03/2017,1 previous owner,NaN,...,"[\n14900€, Renault Clio 4 TCe 120 EDC Essence,...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
3174,https://www.autoscout24.com//offers/audi-a3-sp...,Audi A3,Sportback 1.6TDI Attrac EU6 Climatr Sitzh,Sedans,14440,VAT deductible,"86,100 km",04/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, 6-Gang-Schaltgetri...",NaN,[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
5094,https://www.autoscout24.com//offers/audi-a3-sp...,Audi A3,Sportback 30 TDI S tronic Admired,Sedans,26998,VAT deductible,1 km,05/2019,1 previous owner,NaN,...,"[\nVantaggio 25%, EQU: EXTENDED WARRANTY +2ANN...",NaN,[\n7\n],[\nItaly\n],NaN,NaN,NaN,NaN,NaN,NaN
7776,https://www.autoscout24.com//offers/opel-astra...,Opel Astra,ST 1.6D Automatik Edition IntelliLink,Station wagon,24645,VAT deductible,"2,500 km",05/2019,None,NaN,...,"[\nRadio R 4.0 IntelliLink 7"""" Touchscreen, Pa...",NaN,[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
13315,https://www.autoscout24.com//offers/renault-cl...,Renault Clio,"Limited IV ""Automatik""",Compact,11990,None,"19,100 km",11/2016,1 previous owner,NaN,...,[\nDas Fahrzeug befindet sich an unserem Stand...,[\n4 (Green)\n],[\n6\n],[\nGermany\n],NaN,NaN,"[[], [], []]",NaN,NaN,NaN
7452,https://www.autoscout24.com//offers/opel-astra...,Opel Astra,1.4 Turbo S/S 92kW (125CV) Dynamic,Other,14700,None,"20,090 km",01/2018,1 previous owner,NaN,...,[],NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15742,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Energy dCi 160 EDC Elysée 7-SITZER KLIMA,Van,34990,VAT deductible,"18,000 km",11/2018,1 previous owner,NaN,...,"[\nJAHRESWAGEN, JUNGE GEBRAUCHTE, TAGESZULASSU...",NaN,[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
11132,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,1.6 CDTI Sports Tourer Start/Stop Edition,Station wagon,11800,None,"130,000 km",03/2016,2 previous owners,NaN,...,"[\nABS, Bluetooth, Bordcomputer, Dachreling, E...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [32]:
df.make_model.unique()

array(['Audi A1', 'Audi A2', 'Audi A3', 'Opel Astra', 'Opel Corsa',
       'Opel Insignia', 'Renault Clio', 'Renault Duster',
       'Renault Espace'], dtype=object)

In [38]:
df.short_description.describe()

count                                 15873
unique                                10001
top       SPB 1.6 TDI 116 CV S tronic Sport
freq                                     64
Name: short_description, dtype: object

In [39]:
df.vat.describe()

count              11406
unique                 2
top       VAT deductible
freq               10980
Name: vat, dtype: object

In [40]:
df.vat.unique()

array(['VAT deductible', 'Price negotiable', None], dtype=object)

<br>

- Here that we have got some random rows. I have to admit that I did not fall in love at first sight since it is such a messy data. :)
- As you can see, there are so mays things that we need to do !
- Just to make sure that we do not miss anything, I am going to make a list about things that I need to work on.

<br>

1. Change registiration column name as registration_date and also the data type to date.
2.