In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
import math as math

In [2]:
df = pd.read_csv('df1_no_null.csv')

In [5]:
df.isnull().sum()

Body_Type              0
Price                  0
Km                     0
kW                     0
Condition              0
Make                   0
Model                  0
Registration_Year      0
Body_Color             0
Paint_Type             0
Upholstery             0
Nr_of_Doors            0
Nr_of_Seats            0
Gearing_Type           0
Displacement           0
Cylinders              0
Drive_Chain            0
Fuel                   0
Comfort_Convenience    0
Entertainment_Media    0
Extras                 0
Safety_Security        0
Gears                  0
Combined_Cons          0
dtype: int64

In [6]:
df1 = df.copy()

In [7]:
df2 = df.copy()

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15735 entries, 0 to 15734
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Body_Type            15735 non-null  object
 1   Price                15735 non-null  int64
 2   Km                   15735 non-null  int64
 3   kW                   15735 non-null  float64
 4   Condition            15735 non-null  object
 5   Make                 15735 non-null  object
 6   Model                15735 non-null  object
 7   Registration_Year    15735 non-null  float64
 8   Body_Color           15735 non-null  object
 9   Paint_Type           15735 non-null  object
 10  Upholstery           15735 non-null  object
 11  Nr_of_Doors          15735 non-null  float64
 12  Nr_of_Seats          15735 non-null  float64
 13  Gearing_Type         15735 non-null  object
 14  Displacement         15735 non-null  float64
 15  Cylinders            15735 non-null  float64
 16  Drive_Chain          15735 non-null  object
 17  Fuel                 15735 non-null  object
 18  Comfort_Convenience  15735 non-null  object
 19  Entertainment_Media  15735 non-null  object
 20  Extras               15735 non-null  object
 21  Safety_Security      15735 non-null  object
 22  Gears                15735 non-null  float64
 23  Combined_Cons        15735 non-null  float64
dtypes: float64(8), int64(2), object(14)
memory usage: 2.9+ MB

In [10]:
df1.Registration_Year = pd.to_datetime(df["Registration_Year"], format="%Y")

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15735 entries, 0 to 15734
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Body_Type            15735 non-null  object
 1   Price                15735 non-null  int64
 2   Km                   15735 non-null  int64
 3   kW                   15735 non-null  float64
 4   Condition            15735 non-null  object
 5   Make                 15735 non-null  object
 6   Model                15735 non-null  object
 7   Registration_Year    15735 non-null  datetime64[ns]
 8   Body_Color           15735 non-null  object
 9   Paint_Type           15735 non-null  object
 10  Upholstery           15735 non-null  object
 11  Nr_of_Doors          15735 non-null  float64
 12  Nr_of_Seats          15735 non-null  float64
 13  Gearing_Type         15735 non-null  object
 14  Displacement         15735 non-null  float64
 15  Cylinders            15735 non-null  float64
 16  Drive_Chain          15735 non-null  object
 17  Fuel                 15735 non-null  object
 18  Comfort_Convenience  15735 non-null  object
 19  Entertainment_Media  15735 non-null  object
 20  Extras               15735 non-null  object
 21  Safety_Security      15735 non-null  object
 22  Gears                15735 non-null  float64
 23  Combined_Cons        15735 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(14)
memory usage: 2.9+ MB

In [25]:
price_outliers = df2.Price.sort_values().head(4).index

In [21]:
df1.drop(price_outliers, axis = 0,inplace = True)

In [24]:
df1.Price.sort_values().head(4)

8745    4950
8743    4990
8744    5250
8742    5300
Name: Price, dtype: int64

In [45]:
my_models = df1.Model.unique().tolist()

In [49]:
for i in my_models:
    print("****************")
    print(i)
    print(df1[(df1.Model == i)].kW.value_counts())

****************
A1
85.0     885
70.0     790
66.0     462
92.0     172
60.0     156
71.0      56
110.0     30
141.0     16
147.0     14
67.0      12
87.0       4
93.0       3
140.0      1
86.0       1
112.0      1
Name: kW, dtype: int64
****************
A3
85.0     1586
81.0      785
110.0     498
92.0       93
135.0      24
294.0      18
82.0       15
96.0        8
87.0        6
228.0       2
270.0       2
137.0       1
100.0       1
112.0       1
162.0       1
86.0        1
132.0       1
9.0         1
140.0       1
150.0       1
133.0       1
Name: kW, dtype: int64
****************
Astra
110.0    575
81.0     571
100.0    489
77.0     318
92.0     199
66.0      74
74.0      66
147.0     65
70.0      44
85.0      21
78.0      20
103.0     14
1.0        7
101.0      7
82.0       7
118.0      6
112.0      5
60.0       4
76.0       4
80.0       3
67.0       2
88.0       2
84.0       1
149.0      1
Name: kW, dtype: int64
****************
Corsa
66.0    1231
51.0     686
55.0     166
70.0      53
52.0      22
74.0      14
1.0        7
67.0       4
71.0       3
65.0       3
44.0       1
85.0       1
63.0       1
88.0       1
40.0       1
75.0       1
Name: kW, dtype: int64
****************
Insignia
100.0    819
125.0    704
121.0    390
103.0    238
147.0    159
88.0      74
101.0     40
154.0     39
122.0     34
81.0      34
104.0      8
191.0      7
120.0      7
155.0      6
184.0      5
1.0        4
92.0       2
127.0      2
89.0       2
143.0      2
123.0      1
118.0      1
195.0      1
146.0      1
239.0      1
149.0      1
Name: kW, dtype: int64
****************
Clio
55.0     419
66.0     331
54.0     276
56.0     269
87.0     222
88.0      98
162.0     93
164.0     27
67.0      22
147.0     17
57.0      10
90.0       4
81.0       3
53.0       2
65.0       1
40.0       1
63.0       1
4.0        1
163.0      1
74.0       1
Name: kW, dtype: int64
****************
Duster
77.0    33
81.0     1
Name: kW, dtype: int64
****************
Espace
118.0    526
165.0    189
147.0    122
96.0      62
119.0     30
146.0     17
117.0      6
98.0       3
168.0      3
167.0      2
1.0        2
149.0      1
150.0      1
120.0      1
115.0      1
Name: kW, dtype: int64

#### Outliers for kW:

- A3 has 9 (1 time)

- Astra has 1 (7 times)

- Corsa has 1 (7 times)

- Insiginia has 1 (4 times)

- Clio has 4 (1 time)

- Escape has 1 (2 times)

In [52]:
kW_less_10 = df1[df1.kW < 10].index

In [53]:
df1.drop(kW_less_10, axis = 0,inplace = True)

In [58]:
df1.kW.sort_values().head()

13631    40.0
8775     40.0
8326     44.0
10182    51.0
9754     51.0
Name: kW, dtype: float64

#### Outliers for Nr. of Doors

In [60]:
df1.Nr_of_Doors.value_counts()

5.0    11590
4.0     3071
3.0      828
2.0      218
7.0        1
1.0        1
Name: Nr_of_Doors, dtype: int64

In [65]:
one_door_index = df1[df1.Nr_of_Doors == 1].index

In [68]:
seven_door_index = df1[df1.Nr_of_Doors == 7].index

In [69]:
df1.drop(one_door_index, axis = 0,inplace = True)
df1.drop(seven_door_index, axis = 0,inplace = True)

In [70]:
df1.Nr_of_Doors.value_counts()

5.0    11590
4.0     3071
3.0      828
2.0      218
Name: Nr_of_Doors, dtype: int64

<br>

#### Nr. of Seats Outliers

In [71]:
df1.Nr_of_Seats.value_counts()

5.0    14118
4.0     1118
7.0      354
2.0      114
6.0        2
3.0        1
Name: Nr_of_Seats, dtype: int64

In [74]:
three_seats = df1[df1.Nr_of_Seats == 3].index

In [75]:
df1.drop(three_seats, axis = 0,inplace = True)

In [76]:
df1.Nr_of_Seats.value_counts()

5.0    14118
4.0     1118
7.0      354
2.0      114
6.0        2
Name: Nr_of_Seats, dtype: int64

In [79]:
six_seats = df1[df1.Nr_of_Seats == 6].index

In [80]:
df1.drop(six_seats, axis = 0,inplace = True)

In [81]:
df1.Nr_of_Seats.value_counts()

5.0    14118
4.0     1118
7.0      354
2.0      114
Name: Nr_of_Seats, dtype: int64

<br>

In [84]:
df2 = df1.copy()

#### Displacement Outliers

In [93]:
min_displacement_outliers = df1[df1.Displacement < 600].index

In [95]:
def fill_with_mode(a):
    column_name = a
    null_models = list(df1[df1[column_name]<600].Model.unique())
    for i in null_models:
        null_model_indexes = df1[(df1.Model == i) & (df1[column_name]<600)][column_name].index
        my_mode = list(df1[(df1.Model == i)][column_name].mode())
        if my_mode != []:
            df1[column_name].loc[null_model_indexes]= (my_mode[0])

fill_with_mode('Displacement')

In [98]:
min_displacement_outliers

Int64Index([ 7735,  7736,  7737,  7738,  8049, 10100, 10456, 12377, 12393,
            12444, 12493, 12637, 12655, 12656, 12669, 12672, 12676, 12682,
            12684, 12686, 12701, 12720, 12733, 12734, 13776, 13784, 14067,
            14150, 14176, 14177, 14181, 14182, 14183, 14184, 14186, 14187,
            14188, 14189, 14190, 15403, 15404, 15405, 15406, 15407, 15408],
           dtype='int64')

In [99]:
df1.Displacement.loc[7735]

1598.0

In [107]:
df1.Displacement.sort_values().tail(5)

3584      2480.0
3596      2480.0
10668     2967.0
7107     15898.0
10829    16000.0
Name: Displacement, dtype: float64

In [109]:
def fill_with_mode(a):
    column_name = a
    null_models = list(df1[df1[column_name]>6000].Model.unique())
    for i in null_models:
        null_model_indexes = df1[(df1.Model == i) & (df1[column_name]>6000)][column_name].index
        my_mode = list(df1[(df1.Model == i)][column_name].mode())
        if my_mode != []:
            df1[column_name].loc[null_model_indexes]= (my_mode[0])

fill_with_mode('Displacement')

In [110]:
df1.Displacement.loc[10829]

1598.0